name: lab_week4
description: Week 4 Lab Exercises

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # shared_preferences: ^2.3.2  # ← COMMENT OUT để tránh lỗi
  path_provider: ^2.1.4        # ← Dùng thay thế
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true